body{
  margin: 0;
  padding: 0;
  background-color:#1E1C5A;
}



.menu .item{
  position: absolute;
  top: 80px;
  left: 80px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: yellow;
  color: blueviolet;
  text-align: center;
  border-radius: 50%;
  transition: transform 600ms ease-out;
  cursor: pointer;

}

.item.open-menu{
  z-index: 1;
  transition: transform 300ms ease-out;
  transition-delay: 300ms;
}

.opened .item:nth-child(2){ transform: translateX(80px);}
.opened .item:nth-child(3){ transform: translateX(160px);}
.opened .item:nth-child(4){ transform: translateX(240px);}
.opened .item:nth-child(5){ transform: translateX(320px);}
.opened .item:nth-child(6){ transform: translateX(400px);}

.opened .item.open-menu{
  transform: scale(0);
}

.item:nth-child(2){transition-delay: 0;}
.item:nth-child(3){transition-delay: 50ms;}
.item:nth-child(4){transition-delay: 100ms;}
.item:nth-child(5){transition-delay: 150ms;}
.item:nth-child(6){transition-delay: 200ms;}

/* fin del primer menu */

ul{
  position: absolute;
  display: flex;
  top: 30%;
  left: 1%;
}

ul li{
  list-style: none;
}

ul li a{
  font-family:sans-serif;
  position: relative;
  display: block;
  color: yellow;
  margin: 0 25px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 10px;
  transition: 0.5s;
}

ul li a:hover{
  background-color: blueviolet;
  color: #EDE415;
}

ul li a:before,
ul li a:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid blueviolet;
  transition: 0.5s;
  opacity: 0;
}

ul li a:before{
  top: 0;
  left: 0;
  border-width: 3px 0 0 3px;
}

ul li a:after{
  bottom: 0;
  right: 0;
  border-width: 0 3px 3px 0;
}

ul li a:hover:before{
  width: 15px;
  height: 15px;
  top: -12px;
  left: -12px;
  opacity: 1;
}

ul li a:hover:after{
  width: 15px;
  height: 15px;
  bottom: -12px;
  right: -12px;
  opacity: 1;
}